[alias]
	aliases = config --get-regexp alias
	br = branch -av
	cp = cherry-pick
	rb = rebase
	rbi = rebase -i
	rba = rebase --abort
	rbc = rebase --continue
	rbs = rebase --skip
	s = status -sb
	unstage = reset HEAD --
	whoami = "!git config user.name; git config user.email"
[core]
  excludesfile = ~/.gitignore
	pager = diff-so-fancy | less --tabs=4 -RFX
[include]
	path = ~/.gitconfig-local
[includeIf "gitdir:~/Projects/expedia/"]
  path = ~/.gitconfig-work
[pull]
    rebase = true
[user]
	useConfigOnly = true
