[alias]
	aliases = config --get-regexp alias
	br = branch -av
	cp = cherry-pick
	rb = rebase
	rbi = rebase -i
	rba = rebase --abort
	rbc = rebase --continue
	rbs = rebase --skip
	s = status -sb
	unstage = reset HEAD --
[core]
	pager = diff-so-fancy | less --tabs=4 -RFX
[include]
	path = ~/.gitconfig-local
